<div class="flex w-full justify-center items-center h-[50%]">
    <div class="flex w-full justify-center items-center px-10">
        <div class="w-full  flex flex-col md:flex-row text-center gap-10 px-5">
            <div class="w-full py-20 rounded-md shadow-md">
                <div class="text-2xl font-medium">Total</div>
                <div class="text-2xl py-2">{{total}}</div>
            </div>
            <div class="w-full py-20 rounded-md shadow-md">
                <div class="text-2xl font-medium">Ongoing</div>
                <div class="text-2xl py-2">{{ongoing}}</div>
            </div>
            <div class="w-full py-20 rounded-md shadow-md">
                <div class="text-2xl font-medium">Completed</div>
                <div class="text-2xl py-2">{{completed}}</div>
            </div>
        </div>
    </div>
</div>
<div class="flex items-center justify-center py-10  ">
    <mat-form-field appearance="fill">
        <mat-label>Select Task Type</mat-label>
        <mat-select [(value)]="status" (selectionChange)="onStatusChange($event)">
            <mat-option value="pending">Pending</mat-option>
            <mat-option value="approved">Approved</mat-option>
            <mat-option value="rejected">Rejected</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="flex items-center justify-center">
    <ag-grid-angular class="self-center items-center mb-[10vh]  w-[75rem] ag-theme-quartz" [pagination]="pagination"
        [paginationPageSize]="paginationPageSize" [paginationPageSizeSelector]="paginationPageSizeSelector"
        [rowData]="rowData" [columnDefs]="colDefs" style="height: 30rem;">
    </ag-grid-angular>
</div>