<div class="flex justify-center items-center h-screen bg-gray-100">
    <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-md">
        <div class="text-3xl text-center font-semibold mb-6 text-[#002D62]">
            Reset Password
        </div>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onFormSubmit()">
            <div class="space-y-4">
                <mat-form-field class="example-full-width w-full">
                    <mat-label>New Password</mat-label>
                    <input type="password" matInput formControlName="newPassword" placeholder="Enter new password" />
                    <mat-error *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']">
                        New Password is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('newPassword')?.errors?.['minlength']">
                        New Password must be at least 6 characters long
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width w-full">
                    <mat-label>Confirm New Password</mat-label>
                    <input type="password" matInput formControlName="confirmPassword"
                        placeholder="Confirm new password" />
                    <mat-error *ngIf="resetPasswordForm.hasError('passwordMismatch')">
                        Passwords do not match
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required']">
                        Confirm Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <div class="text-red-600 text-center" *ngIf="error.length > 0">
                    {{ error }}
                </div>

                <button mat-flat-button
                    class="w-full py-2 px-4 bg-[#002D62] text-white rounded-md hover:bg-white hover:border-[#002D62] hover:border hover:text-[#002D62] focus:outline-none focus:ring focus:border-blue-300">
                    Reset Password
                </button>
            </div>
        </form>
    </div>
</div>