<div class="w-full flex justify-center items-center">
    <div class="flex w-2/5 gap-5 flex-col py-10 justify-center">
        <div class="text-3xl text-center font-semibold mb-10 text-[#002D62]">
            Basic Details
        </div>
        <form [formGroup]="formData" (ngSubmit)="onFormSubmit()">
            <mat-form-field class="w-full">
                <mat-label>Name</mat-label>
                <input type="text" matInput formControlName="fullname" placeholder="fullname" />
                @if (formData.get('fullname')?.errors &&
                !formData.get('fullname')?.hasError('required')) {
                <mat-error>Please enter a valid fullname address</mat-error>
                } @if (formData.get('fullname')?.hasError('required')) {
                <mat-error>fullname is <strong>required</strong></mat-error>
                }
            </mat-form-field>
            <mat-form-field class="w-full ">
                <mat-label>Email</mat-label>
                <input readonly type="text" matInput formControlName="email" placeholder="email" />
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>Join Date</mat-label>
                <input readonly matInput [matDatepicker]="picker" formControlName="joinDate">
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>Designation</mat-label>
                <input readonly matInput formControlName="designation" placeholder="designation" />
            </mat-form-field>
            <button
                class="w-full py-2 px-4 bg-[#002D62] text-white rounded-md hover:bg-white hover:border-[#002D62] hover:border hover:text-[#002D62] focus:outline-none focus:ring focus:border-blue-300"
                matStepperNext>Save and Next</button>
        </form>
    </div>
</div>