<div class="w-full flex justify-center  py-5">
    <div class="w-9/12 flex justify-evenly gap-10">
        <a routerLink="/admin/dashboard" routerLinkActive="bg-white text-blue-900 text-xl border border-my-blue "
            class="py-1 w-3/5 /12 px-5 text-center mb-4 text-white bg-my-blue  text-lg rounded-md">
        Dashboard
        </a>
        <a routerLink="/admin/designation" routerLinkActive="bg-white text-blue-900 border border-my-blue "
            class="py-1 w-3/5 /12 px-5 text-center mb-4 text-white bg-my-blue text-lg rounded-md">
            Designation
        </a>
        <a routerLink="/admin/project" routerLinkActive="bg-white text-blue-900 border border-my-blue "
            class="py-1 w-3/5 px-5 text-center mb-4 text-white bg-my-blue text-lg rounded-md">
            Project
        </a>
        <a routerLink="/admin/employee" routerLinkActive="bg-white text-blue-900 border border-my-blue "
            class="py-1 w-3/5 px-5 text-center mb-4 text-white bg-my-blue text-lg rounded-md">
            Employee
        </a>
    </div>

</div>