<div class="w-full flex justify-center py-5">
    <div class="w-9/12 flex justify-evenly gap-10">
        <a routerLink="/admin/dashboard" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
            class="nav-link py-1 w-3/5 px-5 text-center mb-4 text-white bg-my-blue text-lg rounded-md">
            Dashboard
        </a>
        <a routerLink="/admin/designation" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
            class="nav-link py-1 w-3/5 px-5 text-center mb-4 text-white bg-my-blue text-lg rounded-md">
            Designation
        </a>
        <a routerLink="/admin/project" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
            class="nav-link py-1 w-3/5 px-5 text-center mb-4 text-white bg-my-blue text-lg rounded-md">
            Project
        </a>
        <a routerLink="/admin/employee" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
            class="nav-link py-1 w-3/5 px-5 text-center mb-4 text-white bg-my-blue text-lg rounded-md">
            Employee
        </a>
        <a routerLink="/admin/projectRequest" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
            class="nav-link py-1 w-3/5 px-5 text-center mb-4 text-white bg-my-blue text-lg rounded-md">
            Project Join
        </a>
    </div>
</div>