<div class="w-full flex justify-center  py-5">
    <div class="w-9/12 flex justify-evenly gap-10">
        <a routerLink="/user/dashboard" routerLinkActive="bg-blue-600  text-xl border border-my-blue "
            class="py-1 w-3/5 /12 px-5 text-center mb-4 text-white bg-my-blue  text-lg rounded-md">
            Dashboard
        </a>
        <a routerLink="/user/project" routerLinkActive="bg-blue-600  border border-my-blue "
            class="py-1 w-3/5 /12 px-5 text-center mb-4 text-white bg-my-blue text-lg rounded-md">
            Projects
        </a>
        <a routerLink="/user/myProject" routerLinkActive="bg-blue-600  border border-my-blue "
            class="py-1 w-3/5 px-5 text-center mb-4 text-white bg-my-blue text-lg rounded-md">
            My Projects
        </a>
        <a routerLink="/user/employee" routerLinkActive="bg-blue-600  border border-my-blue "
            class="py-1 w-3/5 px-5 text-center mb-4 text-white bg-my-blue text-lg rounded-md">
            Employees
        </a>
        <a routerLink="/user/profile" routerLinkActive="bg-blue-600  border border-my-blue "
            class="py-1 w-3/5 px-5 text-center mb-4 text-white bg-my-blue text-lg rounded-md">
            Profile
        </a>
    </div>
</div>