<div class="flex justify-end px-10">
    <button mat-flat-button
    (click)="createProject()"
        class="py-2 px-4 bg-[#002D62] text-white rounded-md hover:bg-white hover:border-[#002D62] hover:border hover:text-[#002D62] focus:outline-none focus:ring focus:border-blue-300">
       Add Project
    </button>
</div>

<div class="flex items-center justify-center py-10 px-5">
    <ag-grid-angular class="self-center items-center w-[95%] ag-theme-quartz" [pagination]="pagination"
      [paginationPageSize]="paginationPageSize" [paginationPageSizeSelector]="paginationPageSizeSelector"
      [rowData]="projects" [columnDefs]="colDefs" style="height: 30rem">
    </ag-grid-angular>
  </div>